*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #7280a7;
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/pattern-background-mobile.svg"), #e0e8ff;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  padding: 4.5rem 1.5rem;
}

@media (min-width: 40rem) {
  .container {
    background: url("../images/pattern-background-desktop.svg"), #e0e8ff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }
}

.container__card {
  border-radius: 0.625rem;
  background-color: white;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .container__card {
    width: 450px;
  }
}

.container__image {
  width: 100%;
}

@media (min-width: 40rem) {
  .container__image {
    width: 450px;
  }
}

.container__text {
  padding: 2.375rem 1.5rem;
  text-align: center;
}

@media (min-width: 40rem) {
  .container__text {
    padding: 3.25rem 3rem;
  }
}

.container__text h2 {
  color: #1f2f56;
  font-weight: 900;
  margin-bottom: 1.25rem;
}

.container__text p {
  padding: 0 0.3125rem;
  line-height: 1.5625rem;
}

.container__music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f7ff;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
}

@media (min-width: 40rem) {
  .container__music {
    padding: 1.5rem;
  }
}

.container__music__img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__music__img {
  width: 50px;
  margin-right: 1.125rem;
}

.container__music__text {
  height: auto;
  margin-right: 1.725rem;
}

.container__music__text p {
  padding: 0;
  line-height: 1.375rem;
}

.container__music__text p span {
  color: #1f2f56;
  font-weight: 900;
}

.container__music__link {
  font-weight: 700;
  color: #3829e0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container__music__link:hover {
  color: rgba(56, 41, 224, 0.75);
  text-decoration: none;
}

.container .btn {
  width: 100%;
  font-weight: 700;
  font-family: 'Red Hat Display', sans-serif;
  padding: 1rem 0;
  color: white;
  -webkit-box-shadow: 0 0.625rem 0.725rem 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.625rem 0.725rem 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 0.625rem;
  background-color: #3829e0;
  margin-bottom: 1.725rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .btn:hover {
  opacity: 0.75;
}

.container__cancel {
  font-weight: 900;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container__cancel:hover {
  color: #1f2f56;
}
/*# sourceMappingURL=main.css.map */