
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/pattern-background-mobile.svg"), $Paleblue;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    padding: 4.5rem 1.5rem;
    @include breakpoint-up(medium) {
        height: 100%;
        background: url("../images/pattern-background-desktop.svg"), $Paleblue;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;
    }

    &__card {
        border-radius: 0.625rem;
        background-color: white;
        overflow: hidden;
        @include breakpoint-up(medium) {
            width: 450px;
            //margin: 2rem 0;
        }
    }
    &__image {
        width: 100%;
        @include breakpoint-up(medium) {
            width: 450px;
        }
    }

    &__text {
        padding: 2.375rem 1.5rem;
        text-align: center;
        @include breakpoint-up(medium){
            padding: 3.25rem 3rem;
        }

        h2{
            color: $Darkblue;
            font-weight: 900;
            margin-bottom: 1.25rem;
        }

        p {
            padding: 0 0.3125rem;
            line-height: 1.5625rem;
        }
    }

    &__music {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $Verypaleblue;
        padding: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 0.625rem;

        @include breakpoint-up(medium) {
            padding: 1.5rem;
        }

        &__img-text {
            display: flex;
        }
        &__img {
            width: 50px;
            margin-right: 1.125rem;
        }

        &__text {
            height: auto;
            margin-right: 1.725rem;
            p {
                padding: 0;
                line-height: 1.375rem;
                span {
                    color: $Darkblue;
                    font-weight: 900;
                }
            }
        }

        &__link {
            font-weight: 700;
            color: $Brightblue;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: rgba($color: $Brightblue, $alpha: 0.75);
                text-decoration: none;
            }
        }
    }

    .btn {
        width: 100%;
        font-weight: 700;
        font-family: 'Red Hat Display', sans-serif;
        padding: 1rem 0;
        color: white;
        box-shadow: 0 0.625rem 0.725rem 0 rgba($color: #000000, $alpha: 0.15);
        border: none;
        border-radius: 0.625rem;
        background-color: $Brightblue;
        margin-bottom: 1.725rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.75;
        }
    }

    &__cancel {
        font-weight: 900;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $Darkblue;
        }
    }
}